{% extends 'base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Providers</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/provider/{{ provider.vendor }}">{{ provider.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ image.uid }}</li>
    </ol>
</nav>
<div class="row mt-3">
    <div class="col-md-8 mb-3">
        {% if image.artifact_url %}
        <div class="row">
            <div class="col">
                <label>Artifact Url</label>
                <input type="text" class="form-control" value="{{ image.artifact_url }}" readonly>
            </div>
        </div>
        {% endif %}
        <div class="row mt-3">
            <div class="col">
                <label>Arch</label>
                <input type="text" class="form-control" value="{{ image.arch }}" readonly>
            </div>
            <div class="col">
                <label>Release</label>
                <input type="text" class="form-control" value="{{ image.release }}" readonly>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label>Type</label>
                <input type="text" class="form-control" value="{{ image.img_type }}" readonly>
            </div>
            <div class="col">
                <label>Version</label>
                <input type="text" class="form-control" value="{{ image.version }}" readonly>
            </div>
            {% if image.region %}
            <div class="col">
                <label>Region</label>
                <input type="text" class="form-control" value="{{ image.region }}" readonly>
            </div>
            {% endif %}
        </div>
        <h4 class="mt-3 mb-3">Packages</h4>
        {% include "package_search_form.html" %}
        <div class="mt-3">
            <label>Show
                <select name="packages_per_page" onchange="location.href=this.value" class="custom-select custom-select-sm form-control form-control-sm">
                    {% for select in packages_select_index %}
                        {% if select == packages.per_page %}
                            <option selected value="{{ url_for('.image', uid=image.uid, package_name=package_name, packages_per_page=select) }}">{{select}}</option>
                        {% else %}
                            <option value="{{ url_for('.image', uid=image.uid, package_name=package_name, packages_per_page=select) }}">{{select}}</option>
                        {% endif %}
                    {% endfor %}
                </select> packages
            </label>
        </div>
        <div class="table-responsive">
            <table id="example" class="table table-bordered mt-3 mb-3">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Version</th>
                        <th scope="col">Tracker</th>
                    </tr>
                </thead>
                <tbody>
                    {% for package in packages.items %}
                    <tr>
                        <td>{{ package.name }}</td>
                        <td>{{ package.version }}</td>
                        <td><a href="{{ package.tracker }}" style="display:block;"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex flex-row">
                <p>Showing {{ packages.total }} entries.</p>
                <nav class="ml-4" aria-label="table-navigation">
                    <ul class="pagination">
                        {% if packages.has_prev %}
                        <li class="page-item"> <a class="page-link" href="{{ url_for('.image', uid=image.uid, page=packages.prev_num) }}">Previous</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>
                        {% endif %}

                        {% for page in packages.iter_pages(left_edge=3, right_current=1, right_edge=3) %}
                            {% if page %}
                                {% if page==packages.page %}
                                    <li class="page-item active"><a class="page-link" href="{{ url_for('.image', uid=image.uid, page=page) }}">{{ page }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="{{ url_for('.image', uid=image.uid, page=page) }}">{{ page }}</a></li>
                                {% endif %}
                            {% else %}
                                <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if packages.has_next %}
                            <li class="page-item"> <a class="page-link" href="{{ url_for('.image', uid=image.uid, page=packages.next_num) }}">Next</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {% include "helper_card.html" %}
        <a href="{{ image.artifact_url }}" class="btn btn-primary">
            <i class="fa fa-download mr-1"></i>
            Artifact
        </a>
    </div>
</div>

{% endblock %}