{% block content %}

    <div class="card mb-2">
        <div class="card-header">Package filter</div>
        <form class="d-flex align-items-center" method="post" name="search">
            {{ form.hidden_tag() }}
            {{ form.package_name(class_="form-control ml-2 m-1", placeholder="Name") }}
            {{ form.submit(class_="btn btn-primary ml-auto m-2") }}
        </form>
    </div>

{% endblock %}